* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

#button {
  width: 300px;
  padding: 10px 0;
  border-radius: 30px;
  background: var(--inverse-text-color);
  font-family: var(--Proxima-Nova);
  font-size: var(--description-size);
  color: var(--main-text-color);
  transition: .5s;
}

#button:hover {
  text-decoration: underline;
}

/* container */

.container {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

/* header */

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  margin-top: 10px;

  .logo {
    width: 166px;
    height: 80px;
    background: url("/public/icons/Primary.svg") no-repeat center;
  }


  .header-container {
    box-shadow: 0px 25px 30px 0px rgba(34, 60, 80, 0.2);
    width: 80%;
    height: 100%;
    background: var(--main-bg-color);
    border-radius: 40px / 50%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;

    .navigation {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      padding: 10px;

      a {
        font-family: var(--Proxima-Nova);
        font-size: 24px;
        font-weight: var(--regular);
        color: var(--inverse-text-color);
      }
    }

    .social-media {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 10px;

      a {
        width: 40px;
        height: 40px;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

footer {
  width: 100%;
  background: var(--main-bg-color);



  .container {
    padding: 10px 0;

    .top {
      display: flex;
      align-items: start;
      justify-content: space-between;
      padding: 10px 0;

      .left {
        width: 40%;

        .logo {
          width: 166px;
          height: 80px;
          background: url("/public/icons/Primary.svg") no-repeat center;
        }

        .descr {
          padding: 10px 0;
          font-family: var(--Proxima-Nova);
          font-size: 24px;
          font-weight: var(--normal);
          color: var(--inverse-text-color);
        }

        .social-media {
          margin-top: 50px;
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 10px;
          padding: 10px 0;

          a {
            width: 40px;
            height: 40px;
          }

          img {
            width: 100%;
            height: 100%;
          }
        }
      }


      .right {
        width: 40%;
        display: flex;
        justify-content: start;
        gap: 40px;

        .collumn {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }

        h3 {
          font-family: var(--Proxima-Nova);
          font-size: var(--navigation-text-size);
          font-weight: var(--regular);
          color: var(--inverse-text-color);
          padding-bottom: 10px;
        }

        ul li {
          padding: 3px;
        }

        a,
        ul li {
          font-family: var(--Proxima-Nova);
          font-size: 24px;
          font-weight: var(--regular);
          color: var(--inverse-text-color);
          transition: .5s;
        }

        a:hover,
        ul li:hover {
          text-decoration: underline;
        }
      }
    }

    .bottom {
      padding: 10px 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px var(--inverse-text-color) solid;

      a {
        font-family: var(--Proxima-Nova);
        font-size: 16px;
        font-weight: var(--regular);
        color: var(--inverse-text-color);
      }
    }

  }
}